.svn/
.vs/
*.csproj
*.sln
*.vsconfig
*.keystore
/Bundles/
/Library/
/Logs/
/Temp/
/obj/
/UserSettings/
/ProjectSettings/
/WebData.txt
Assets/TapSDK/
Assets/TapSDK.meta
/yoo/
/HybridCLRData/
Assets/HybridCLRGenerate/
Assets/HybridCLRGenerate.meta