.svn/
.vs/
/Library/
/Temp/
/obj/
/Logs/
*.csproj
*.sln
*.vsconfig
UserSettings/Layouts/default-2022.dwlt
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
Assets/Editor/UnityOnlineServicesData.meta
/Assets/Editor/UnityOnlineServicesData
Assets/Editor/UOSEnvironments.asset
Assets/Editor/UOSEnvironments.asset.meta
Assets/Resources/UOSSettings.asset
Assets/Resources/UOSSettings.asset.meta
Assets/UOSLauncherEncrypt.meta
/Assets/UOSLauncherEncrypt
/Build
/Bundles
/CDN
/TextToolDatas
/UserSettings
Assets/HybridCLRGenerate.meta
/Assets/HybridCLRGenerate
/HybridCLRData
/.vscode
/.cursor/
/Check/