.svn/
.vs/
*.csproj
*.sln
*.vsconfig
*.keystore
/Bundles/
/Library/
/Logs/
/Temp/
/obj/
/UserSettings/
/ProjectSettings/
/WebData.txt
Assets/TapSDK/
Assets/TapSDK.meta
/yoo/
/HybridCLRData/
Assets/HybridCLRGenerate/
Assets/HybridCLRGenerate.meta
Assets/StreamingAssets/yoo/
Assets/StreamingAssets/yoo.meta
Assets/Editor/UnityOnlineServicesData.meta
/Assets/Editor/UnityOnlineServicesData
Assets/Editor/UOSEnvironments.asset.meta
Assets/Editor/UOSEnvironments.asset
Assets/Resources/LocalAssets/WebData.bin
Assets/Resources/LocalAssets/WebData.bin.meta
Assets/Resources/UOSSettings.asset
Assets/Resources/UOSSettings.asset.meta
Assets/UOSLauncherEncrypt.meta
/Assets/UOSLauncherEncrypt
Assets/WebGLTemplates.meta
Assets/WebGLTemplates/WXTemplate.meta
/Assets/WebGLTemplates
Assets/WX-WASM-SDK-V2.meta
/Assets/WX-WASM-SDK-V2
/Build
/CDN
/TextToolDatas
